<div class="col-md-12" *ngIf="!video">
  Cargando...
</div>

<div class="col-md-12 mt-3 justify-content-center" *ngIf="video">
  <h1>{{video.title}}</h1>
  <hr>

  <p>
    <iframe width="560" height="315" [src]="getVideoIframe(video.url)" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </p>

  <span class="badge badge-secondary">{{ video.user.name + '' + video.user.surname }}</span>
  <p [innerHtml]="video.description"></p>
</div>
